In [1]:
l = [1,2,3,4,5, "sudh" , 45.67, True]

In [2]:
l[0]

1

In [3]:
l[-1]

True

In [4]:
len(l)

8

In [5]:
l[0:5]

[1, 2, 3, 4, 5]

In [6]:
l[::-1]

[True, 45.67, 'sudh', 5, 4, 3, 2, 1]

In [7]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [9]:
l[0:100:2]

[1, 3, 5, 45.67]

In [10]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [11]:
l[0:8:-1]

[]

In [12]:
l[:3]

[1, 2, 3]

In [15]:
l +["sudh"]

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'sudh']

In [16]:
l * 2

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [17]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [18]:
60 in l

False

In [19]:
2 in l

True

In [20]:
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [21]:
l1 = [3,4,5,6,6]

In [23]:
max(l1)

6

In [24]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [25]:
l2 = ["sudh" , "iNeuron" , "kumar"]

In [26]:
max(l2)

'sudh'

In [27]:
min(l1)

3

In [28]:
min(l2)

'iNeuron'

In [29]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [30]:
l.append("kuamr")

In [31]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr']

In [32]:
l.append([1,2,3,4])

In [33]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr', [1, 2, 3, 4]]

In [34]:
l.pop(0)

1

In [35]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr', [1, 2, 3, 4]]

In [36]:
l.pop()

[1, 2, 3, 4]

In [37]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr']

In [38]:
l.reverse()

In [39]:
l

['kuamr', True, 45.67, 'sudh', 5, 4, 3, 2]

In [40]:
l = l[::-1]

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr']

In [41]:
l.reverse()

In [42]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr']

In [43]:
l.append ([1,2,3,4])

In [44]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr', [1, 2, 3, 4]]

In [45]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [46]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr', [1, 2, 3, 4]]

In [47]:
l1

[3, 4, 5, 6, 6]

In [48]:
l1.sort()

In [49]:
l1

[3, 4, 5, 6, 6]

In [50]:
l3 = [8,98,34,23,1,0]

In [53]:
l3.sort(reverse= True )

In [54]:
l3

[98, 34, 23, 8, 1, 0]

In [55]:
l1 = [2,3,4]
l2 = [6,7,8]
l3 = [3,2,4]

In [56]:
l4 = [l1,l2,l3]

In [57]:
l4

[[2, 3, 4], [6, 7, 8], [3, 2, 4]]

In [64]:
l4

[[2, 3, 4], [6, 7, 8], [3, 2, 4]]

In [66]:
l4[2][1]

2

In [59]:
l4[2][1]

2

In [60]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr', [1, 2, 3, 4]]

In [61]:
l.count(2)

1

In [62]:
l5 = [3,4,5,3,3,3]

In [63]:
l5.count(3)

4

In [67]:
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]

l4=[l1,l2,l3]

l4.count(3)

0

In [68]:
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [69]:
l4.count(3)

0

In [70]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr', [1, 2, 3, 4]]

In [71]:
l.append("iNeuron")

In [72]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr', [1, 2, 3, 4], 'iNeuron']

In [73]:
l.append([4,56 , "sudh"])

In [74]:
l

[2,
 3,
 4,
 5,
 'sudh',
 45.67,
 True,
 'kuamr',
 [1, 2, 3, 4],
 'iNeuron',
 [4, 56, 'sudh']]

In [75]:
l.extend("sudh")

In [76]:
l

[2,
 3,
 4,
 5,
 'sudh',
 45.67,
 True,
 'kuamr',
 [1, 2, 3, 4],
 'iNeuron',
 [4, 56, 'sudh'],
 's',
 'u',
 'd',
 'h']

In [77]:
l6 = [1,2,3]

In [78]:
l6.append([4,5,6])

In [79]:
l6

[1, 2, 3, [4, 5, 6]]

In [80]:
l6.append("sudh")

In [81]:
l6

[1, 2, 3, [4, 5, 6], 'sudh']

In [82]:
l6.extend(45)

TypeError: 'int' object is not iterable

In [83]:
l6.append(45)

In [84]:
l6

[1, 2, 3, [4, 5, 6], 'sudh', 45]

In [85]:
l6.extend([56,34,21])

In [86]:
l6

[1, 2, 3, [4, 5, 6], 'sudh', 45, 56, 34, 21]

In [87]:
l6.extend("sudh")

In [88]:
l6

[1, 2, 3, [4, 5, 6], 'sudh', 45, 56, 34, 21, 's', 'u', 'd', 'h']

In [89]:
l6

[1, 2, 3, [4, 5, 6], 'sudh', 45, 56, 34, 21, 's', 'u', 'd', 'h']

In [90]:
l6.index(1)

0

In [91]:
l7  = [1,2,3,4,55,6,6,7]

In [92]:
l7.index(6)

5

In [93]:
l = [1,2,3,4,5]

In [94]:
l.append(45)

In [95]:
l

[1, 2, 3, 4, 5, 45]

In [96]:
l.insert(1 , [1,2,34])

In [97]:
l

[1, [1, 2, 34], 2, 3, 4, 5, 45]

In [98]:
l.insert(5,"sudh")

In [99]:
l

[1, [1, 2, 34], 2, 3, 4, 'sudh', 5, 45]

In [100]:
l

[1, [1, 2, 34], 2, 3, 4, 'sudh', 5, 45]

In [101]:
l.pop()

45

In [102]:
l

[1, [1, 2, 34], 2, 3, 4, 'sudh', 5]

In [103]:
l.pop(2)

2

In [104]:
l

[1, [1, 2, 34], 3, 4, 'sudh', 5]

In [105]:
l.remove(100)

ValueError: list.remove(x): x not in list

In [106]:
l.remove(4)

In [108]:
l

[1, [1, 2, 34], 3, 'sudh', 5]

In [109]:
l.remove(3)

In [110]:
l

[1, [1, 2, 34], 'sudh', 5]

In [111]:
l = [1,2,3,4]

In [113]:
l[2] ="sudh"

In [114]:
l

[1, 2, 'sudh', 4]

In [115]:
s = "iNeuron"

In [117]:
s[2] = 'z'

TypeError: 'str' object does not support item assignment

In [118]:
t = (4,5,6,7,"sudh" ,45.67, True)

In [119]:
type(t)

tuple

In [120]:
t[0]

4

In [121]:
t[0:4]

(4, 5, 6, 7)

In [122]:
t[-1]

True

In [123]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [124]:
t[0:6:2]

(4, 6, 'sudh')

In [125]:
t[0:4:-1]

()

In [126]:
l = [1,2,3,456,78]

In [128]:
l[2] = "kumar"

In [129]:
l

[1, 2, 'kumar', 456, 78]

In [130]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [132]:
t[2] = "sudh"

TypeError: 'tuple' object does not support item assignment

In [133]:
t1 = (3,4,5,6)

In [134]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [135]:
t +t1

(4, 5, 6, 7, 'sudh', 45.67, True, 3, 4, 5, 6)

In [136]:
t.count(3)

0

In [138]:
t.count(4)

1

In [141]:
t.index(5)

1

In [139]:
t = t+t1

In [140]:
t

(4, 5, 6, 7, 'sudh', 45.67, True, 3, 4, 5, 6)

In [5]:
t = (3,4,56,7, "sudh")

In [6]:
t2 = list(t)

In [145]:
t2

[3, 4, 56, 7, 'sudh']

In [146]:
tuple(t2)

(3, 4, 56, 7, 'sudh')

In [147]:
str(t2)

"[3, 4, 56, 7, 'sudh']"

In [150]:
d = {}

In [151]:
type(d)

dict

In [152]:
d1 = {1}

In [153]:
type(d1)

set

In [156]:
d2 = { 'key1' : "value"  , 234 : "xyz" , "name" : "sudh" , "no" : 34324345 }

In [157]:
type(d2)

dict

In [158]:
d2['name']

'sudh'

In [159]:
d2['no']

34324345

In [160]:
d3 = {'name': "sudh" , 'tech' :["python" , "ML" , "DL" , "NLP","CV" , "Big data" , "data analytics"]}

In [161]:
d3

{'name': 'sudh',
 'tech': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

In [164]:
"python" in d3['tech']

True

In [165]:
d4 = {"name" :"iNeuron" , "contact_info" : 345345 , "name":"sudh"}

In [166]:
d4

{'name': 'sudh', 'contact_info': 345345}

In [171]:
d4["name1"] = "xyz"

In [172]:
d4

{'name': 'xyz', 'contact_info': 345345, 'k1': 'xyz', 'name1': 'xyz'}

In [174]:
d4['k2'] = d2

In [173]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324345}

In [175]:
d4

{'name': 'xyz',
 'contact_info': 345345,
 'k1': 'xyz',
 'name1': 'xyz',
 'k2': {'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324345}}

In [177]:
d4['k2']['no']

34324345

In [179]:
d5 = {_: "sdfsd"}

In [180]:
d5[_]

'sdfsd'

In [181]:
d6 = {(1,2,34) : "fsdfs"}

In [182]:
d6[(1,2,34)]

'fsdfs'

In [183]:
d7 = {[1,2,3,4] : "fasdfasfas"}

TypeError: unhashable type: 'list'

In [184]:
d8 = {{3:4} : "fsdfs"}

TypeError: unhashable type: 'dict'

In [186]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324345}

In [187]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324345}

In [188]:
d3

{'name': 'sudh',
 'tech': ['python', 'ML', 'DL', 'NLP', 'CV', 'Big data', 'data analytics']}

In [189]:
d2 +d3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [190]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324345}

In [192]:
d2.keys()

dict_keys(['key1', 234, 'name', 'no'])

In [193]:
d2.values()

dict_values(['value', 'xyz', 'sudh', 34324345])

In [194]:
d2.items()

dict_items([('key1', 'value'), (234, 'xyz'), ('name', 'sudh'), ('no', 34324345)])

In [195]:
s = {3,4,5,6,7,8}

In [196]:
type(s)

set

In [197]:
s1 = {3,4,4,5,6,6,7,7,8,8,9,9,0,0,0}

In [198]:
s1

{0, 3, 4, 5, 6, 7, 8, 9}

In [199]:
s2 = { 3245,4545,6456,5645,675,6234,345}

In [201]:
s2

{345, 675, 3245, 4545, 5645, 6234, 6456}

In [202]:
s3 = {"sudh" , 324,34,12,645,12,5,'b' , '6'}

In [203]:
s3

{12, 324, 34, 5, '6', 645, 'b', 'sudh'}

In [204]:
s3[0]

TypeError: 'set' object is not subscriptable

In [205]:
list(s3)

['b', 34, 324, 5, 645, '6', 'sudh', 12]

In [206]:
tuple(s3)

('b', 34, 324, 5, 645, '6', 'sudh', 12)

In [207]:
 l = [2,3,4,5656,7,6,7,7,7,77,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7]

In [209]:
l = list(set(l))

In [210]:
l

[2, 3, 4, 6, 7, 77, 5656]

In [211]:
s2

{345, 675, 3245, 4545, 5645, 6234, 6456}

In [212]:
s2.add(34)

In [213]:
s2

{34, 345, 675, 3245, 4545, 5645, 6234, 6456}

In [214]:
s2.add([1,2,3,4,5])

TypeError: unhashable type: 'list'

In [215]:
s = {(1,2,3,4,5) , 3,4,45,65,6}

In [216]:
s

{(1, 2, 3, 4, 5), 3, 4, 45, 6, 65}

In [217]:
s1 = {[1,2,3,4] , 345 ,345}

TypeError: unhashable type: 'list'

In [218]:
s

{(1, 2, 3, 4, 5), 3, 4, 45, 6, 65}

In [223]:
s.remove(35345)

KeyError: 35345

In [220]:
s

{(1, 2, 3, 4, 5), 4, 45, 6, 65}

In [224]:
s.discard(3452646)

In [226]:
s.pop()

65

In [227]:
s

{(1, 2, 3, 4, 5), 45, 6}

In [228]:
type(s)

set

In [230]:
l = list(s)

In [231]:
l

[6, (1, 2, 3, 4, 5), 45]

In [232]:
set(l)

{(1, 2, 3, 4, 5), 45, 6}

In [ ]:
str
list 
tuple
dict
set

In [234]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324345}

In [235]:
d2["key4"] = "sdfsf"

In [236]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324345, 'key4': 'sdfsf'}

In [237]:
d2["key1"]  = "ineuron"

In [238]:
d2

{'key1': 'ineuron',
 234: 'xyz',
 'name': 'sudh',
 'no': 34324345,
 'key4': 'sdfsf'}

In [239]:
l3.sort(reverse=True)

In [240]:
l3

[9, 8, 7]

In [ ]:
#Questions 

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1 . Try to reverse a list 
2. try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list

In [241]:
s = "surya"
s1 = "su"

In [242]:
s+s1

'suryasu'

In [243]:
d2

{'key1': 'ineuron',
 234: 'xyz',
 'name': 'sudh',
 'no': 34324345,
 'key4': 'sdfsf'}

In [245]:
d2.fromkeys("k1")

{'k': None, '1': None}

In [246]:
d2['k'] = "sudh"

In [247]:
d2

{'key1': 'ineuron',
 234: 'xyz',
 'name': 'sudh',
 'no': 34324345,
 'key4': 'sdfsf',
 'k': 'sudh'}

In [249]:
side1 = float(input("Enter first side of triangle"))
side2 = float(input("Enter second side of triangle"))
side3 = float(input("Enter third side of triangle"))
s = (side1+side2+side3)/2
ar = (s*(s-side1)*(s-side2)*(s-side3)) ** 0.5
print("Area of the triangle is, ", ar)

Enter first side of triangle34
Enter second side of triangle56
Enter third side of triangle34
Area of the triangle is,  540.0444426156055

In [250]:
l = [1,2,3,4,5]

In [251]:
l.insert(-1 , "sudh")

In [252]:
l

[1, 2, 3, 4, 'sudh', 5]

In [253]:
for i in l:
    if type(i)==list:
        print(i)
    else:
        if type(i)==dict:
            if type(i.values()==list):
                for j in i.values():
                    if type(j)==list:
                        print(list(j))

In [1]:
d6 = {_ : "fdsdf"}

In [2]:
d6

{'': 'fdsdf'}

In [3]:
t = ( 4,5,6)

In [5]:
t1 =( 6 )

In [6]:
type(t1)

int

In [8]:
#Question
D_NEW = {'name':'Vishnu','title':'Data Analyst','course':'FSDS'}
D_NEW['key1'] = D_NEW
print(D_NEW['name'])
print(D_NEW['key1'])

Vishnu
{'name': 'Vishnu', 'title': 'Data Analyst', 'course': 'FSDS', 'key1': {...}}

In [9]:
print(D_NEW['name'])
print(D_NEW['key1'])

Vishnu
{'name': 'Vishnu', 'title': 'Data Analyst', 'course': 'FSDS', 'key1': {...}}

In [10]:
D_NEW

{'name': 'Vishnu', 'title': 'Data Analyst', 'course': 'FSDS', 'key1': {...}}

In [11]:
t1=(3,5,67.8,789,'876dfghj')
t=t+t1
type(t)
t.count(3)
t2=list(t)
t2
tuple(t2)
str(t2)
tuple(t2)
type(t2)

list

In [13]:
s = {3,4,5,6,7,7}

In [14]:
s

{3, 4, 5, 6, 7}

In [18]:
list(s)[0]

3

In [19]:
round(34.5656567 , 2)

34.57

In [ ]:
###### MY QUESTIONS #####
d4={"name":"iNeuron", "contact_info":34345,"name":"rupe"}
d4['loc']='Calgary'
d4['check'] = d4
#### LOOP ####
print(d4['check'])
#### TYPE ####
print(d4.keys())
print(d4.items())
print(type(d2.keys()))
print(type(d2.items()))
#### SIGNATURE #########
n=[4, 5, 7, 9, 2, 3, 4, 5, 2, 1, 9, 6, 7, 0]
n.pop()
n.sort()

In [21]:
d2 = { "k1" :"fsdfs" , "k2 " : [4,5,56]}

In [24]:
l = d2.keys()

In [29]:
list(l)[0]

'k1'

In [30]:
n=[4, 5, 7, 9, 2, 3, 4, 5, 2, 1, 9, 6, 7, 0]
n.pop()
n.sort()

In [33]:
s = { 1,2,None, 3,4}

In [ ]:
l = [3,4,5,6,7, [23,456,67,8,78,78], [345,56,87,8,98,9],(234,6657,6),{'key1':'sudh', 234:[]}]
umesh
1
l = [1,2,3,4,5,6,7,[11,22,33,44,55,66],111,222,333,'umesh']
l
1
l
[1, 2, 3, 4, 5, 6, 7, [11, 22, 33, 44, 55, 66], 111, 222, 333, 'umesh']
3
1
l.remove(3)
l
1
l
[1, 2, 4, 5, 6, 7, [11, 22, 33, 44, 55, 66], 111, 222, 333, 'umesh']
2
1
l.remove(2)
l
1
l
[1, 4, 5, 6, 7, [11, 22, 33, 44, 55, 66], 111, 222, 333, 'umesh']

In [37]:
l = [10,2,3,4,5,6,7,[11,22,33,44,55,66],111,222,333,'umesh']

In [38]:
l.remove(10)

In [39]:
l

[2, 3, 4, 5, 6, 7, [11, 22, 33, 44, 55, 66], 111, 222, 333, 'umesh']

In [44]:
l=[1,'a','d',[1,5,'asdf','zswe','aa',345],45,"dfg",['s','d',1,2,3],'k']
for i in l:
    if type(i) == list:
        for j in range(len(i)-1):
            print(i[j])
            while type(i[j]) == str:
                i.remove(i[j])
print(l)

1
5
asdf

IndexError: list index out of range