#### Submitted By : Pallab Maity

Questions 

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1 . Try to reverse a list 
2.  Try to access 234 out of this list 
3 . Try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list

In [18]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [9]:
# 1 . Try to reverse a list (Method 1)
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [14]:
l.reverse() #Method 2
l

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [19]:
 #Try to access 234 out of this list 
l[-2][0]

234

In [32]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [22]:
# Try to access 456 
l[5][1]

456

In [30]:
# Try to extract only a list collection form list
p=[5,6]
elements = [l[index] for  index in p]
elements

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

In [41]:
l[5:7]

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

In [45]:
# Try to extract "sudh"
l[-1]['key1']

'sudh'

In [46]:
# Try to list all the key in dict element avaible in list 
l[-1].keys()

dict_keys(['key1', 234])

In [48]:
# Try to extract all the value element form dict available in list 
l[-1].values()

dict_values(['sudh', [23, 45, 656]])