In [1]:
s = "ineuron"

In [2]:
type(s)

str

In [3]:
s[0]

'i'

In [4]:
s[5]

'o'

In [5]:
s[-1]

'n'

In [6]:
s1 = 'sudh'

In [7]:
s1[0]

's'

In [8]:
s1[-1]

'h'

In [9]:
s1[-2]

'd'

In [12]:
s2 = "this is my very first programming class's"

In [13]:
s2

"this is my very first programming class's"

In [14]:
s2[8]

'm'

In [15]:
s2

"this is my very first programming class's"

In [16]:
s2[1:5]

'his '

In [17]:
s2[6:30]

's my very first programm'

In [18]:
s2[6:30:2]

'sm eyfrtporm'

In [19]:
s= "sudhanshu"

In [21]:
s[0:9:1]

'sudhanshu'

In [22]:
s

'sudhanshu'

In [23]:
s[0:8:-1]

''

In [24]:
s[8:0:-1]

'uhsnahdu'

In [25]:
s[8:0:-2]

'usad'

In [26]:
s

'sudhanshu'

In [27]:
s[:-3]

'sudhan'

In [28]:
s[-2:]

'hu'

In [29]:
s[::1]

'sudhanshu'

In [30]:
s[0:50:1]

'sudhanshu'

In [31]:
s[::-1]

'uhsnahdus'

In [32]:
s2

"this is my very first programming class's"

In [33]:
s2[::-1]

"s'ssalc gnimmargorp tsrif yrev ym si siht"

In [ ]:
s[8:0:-1]='uhsnahdu' how s will come?

In [34]:
s[8:0:-1]

'uhsnahdu'

In [35]:
s

'sudhanshu'

In [36]:
s3 = 'ineuron'

In [37]:
s3[::-1]

'norueni'

In [38]:
s3[-2:-7:1]

''

In [39]:
s3[-7:-2:1]

'ineur'

In [40]:
s[5:0]

''

In [ ]:
s3[-7:-1:1] is giving 'ineuro' but why s3[-7:0:1] is giving blank ? i mean i want to print completely  'ineuron'

In [41]:
s3[-7:-1:1]

'ineuro'

In [42]:
s3[-7:0:1]

''

In [46]:
s[:-1:-1]

''

In [45]:
s

'sudhanshu'

In [47]:
s

'sudhanshu'

In [48]:
s + 1

TypeError: can only concatenate str (not "int") to str

In [49]:
s + '1'

'sudhanshu1'

In [50]:
s+"1"

'sudhanshu1'

In [51]:
s+ str(1)

'sudhanshu1'

In [53]:
"sudh" + '45634673576458745687457'

'sudh45634673576458745687457'

In [54]:
s

'sudhanshu'

In [55]:
len(s)

9

In [56]:
s

'sudhanshu'

In [58]:
s * 4

'sudhanshusudhanshusudhanshusudhanshu'

In [59]:
s

'sudhanshu'

In [64]:
s.count('sum')

0

In [63]:
s

'sudhanshu'

In [67]:
type(s.split('u'))

list

In [68]:
s.split('u')

['s', 'dhansh', '']

In [210]:
sw = """The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"""

In [71]:
sw = "The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate"

In [72]:
sw

'The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate'

In [73]:
sw.split(' ')

['The',
 'Samsung',
 'Group[3]',
 '(or',
 'simply',
 'Samsung,',
 'stylized',
 'as',
 'SΛMSUNG)',
 '(Korean:',
 '삼성',
 '[samsʌŋ])',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate']

In [75]:
sw

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.\n\nNotable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"

In [76]:
sw.split(' ')

['The',
 'Samsung',
 'Group[3]',
 '(or',
 'simply',
 'Samsung,',
 'stylized',
 'as',
 'SΛMSUNG)',
 '(Korean:',
 '삼성',
 '[samsʌŋ])',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Town,',
 'Seoul,',
 'South',
 'Korea.[1]',
 'It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses,[1]',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand,',
 'and',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 '(business',
 'conglomerate).',
 'As',
 'of',
 '2020,',
 'Samsung',
 'has',
 'the',
 '8th',
 'highest',
 'global',
 'brand',
 'value.[4]\n\nSamsung',
 'was',
 'founded',
 'by',
 'Lee',
 'Byung-chul',
 'in',
 '1938',
 'as',
 'a',
 'trading',
 'company.',
 'Over',
 'the',
 'next',
 'three',
 'decades,',
 'the',
 'group',
 'diversified',
 'into',
 'areas',
 'including',
 'food',
 'processing,',
 'textiles,',
 'insurance,',
 'securities,',
 'and',
 'retail.',
 'Samsung',
 'entered',
 'the',
 'electronics',
 'industry',
 'in',
 'the',
 'late',
 '1960s',
 'and',
 'the',
 'construction',
 'and',
 'shipbuilding',
 'industries',
 'in',
 'the',
 'mid-1970s;',
 'these',
 'areas',
 'would',
 'drive',
 'its',
 'subsequent',
 'growth.',
 'Following',
 "Lee's",
 'death',
 'in',
 '1987,',
 'Samsung',
 'was',
 'separated',
 'into',
 'five',
 'business',
 'groups',
 '–',
 'Samsung',
 'Group,',
 'Shinsegae',
 'Group,',
 'CJ',
 'Group',
 'and',
 'Hansol',
 'Group,',
 'and',
 'Joongang',
 'Group.\n\nNotable',
 'Samsung',
 'industrial',
 'affiliates',
 'include',
 'Samsung',
 'Electronics',
 '(the',
 "world's",
 'largest',
 'information',
 'technology',
 'company,',
 'consumer',
 'electronics',
 'maker',
 'and',
 'chipmaker',
 'measured',
 'by',
 '2017',
 'revenues),[5][6]',
 'Samsung',
 'Heavy',
 'Industries',
 '(the',
 "world's",
 '2nd',
 'largest',
 'shipbuilder',
 'measured',
 'by',
 '2010',
 'revenues),[7]',
 'and',
 'Samsung',
 'Engineering',
 'and',
 'Samsung',
 'C&T',
 'Corporation',
 '(respectively',
 'the',
 "world's",
 '13th',
 'and',
 '36th',
 'largest',
 'construction',
 'companies).[8]',
 'Other',
 'notable',
 'subsidiaries',
 'include',
 'Samsung',
 'Life',
 'Insurance',
 '(the',
 "world's",
 '14th',
 'largest',
 'life',
 'insurance',
 'company),[9]',
 'Samsung',
 'Everland',
 '(operator',
 'of',
 'Everland',
 'Resort,',
 'the',
 'oldest',
 'theme',
 'park',
 'in',
 'South',
 'Korea)[10]',
 'and',
 'Cheil',
 'Worldwide',
 '(the',
 "world's",
 '15th',
 'largest',
 'advertising',
 'agency,',
 'as',
 'measured',
 'by',
 '2012',
 'revenues).[11][12]']

In [77]:
sw

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.\n\nNotable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"

In [78]:
sw.upper()

"THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]\n\nSAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP.\n\nNOTABLE SAMSUNG INDUSTRIAL AFFILIATES INCLUDE SAMSUNG ELECTRONICS (THE WORLD'S LARGEST INFORMATION TECHNOLOGY COMPANY, CONSUMER ELECTRONICS MAKER AND CHIPMAKER MEASURED BY 2017 REVENUES),[5][6] SAMSUNG HEAVY INDUSTRIES (THE WORLD'S 2ND LARGEST SHIPBUILDER MEASURED BY 2010 REVENUES),[7] AND SAMSUNG ENGINEERING AND SAMSUNG C&T CORPORATION (RESPECTIVELY THE WORLD'S 13TH AND 36TH LARGEST CONSTRUCTION COMPANIES).[8] OTHER NOTABLE SUBSIDIARIES INCLUDE SAMSUNG LIFE INSURANCE (THE WORLD'S 14TH LARGEST LIFE INSURANCE COMPANY),[9] SAMSUNG EVERLAND (OPERATOR OF EVERLAND RESORT, THE OLDEST THEME PARK IN SOUTH KOREA)[10] AND CHEIL WORLDWIDE (THE WORLD'S 15TH LARGEST ADVERTISING AGENCY, AS MEASURED BY 2012 REVENUES).[11][12]"

In [79]:
sw

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.\n\nNotable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"

In [80]:
sw = sw.upper()

In [81]:
sw

"THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]\n\nSAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP.\n\nNOTABLE SAMSUNG INDUSTRIAL AFFILIATES INCLUDE SAMSUNG ELECTRONICS (THE WORLD'S LARGEST INFORMATION TECHNOLOGY COMPANY, CONSUMER ELECTRONICS MAKER AND CHIPMAKER MEASURED BY 2017 REVENUES),[5][6] SAMSUNG HEAVY INDUSTRIES (THE WORLD'S 2ND LARGEST SHIPBUILDER MEASURED BY 2010 REVENUES),[7] AND SAMSUNG ENGINEERING AND SAMSUNG C&T CORPORATION (RESPECTIVELY THE WORLD'S 13TH AND 36TH LARGEST CONSTRUCTION COMPANIES).[8] OTHER NOTABLE SUBSIDIARIES INCLUDE SAMSUNG LIFE INSURANCE (THE WORLD'S 14TH LARGEST LIFE INSURANCE COMPANY),[9] SAMSUNG EVERLAND (OPERATOR OF EVERLAND RESORT, THE OLDEST THEME PARK IN SOUTH KOREA)[10] AND CHEIL WORLDWIDE (THE WORLD'S 15TH LARGEST ADVERTISING AGENCY, AS MEASURED BY 2012 REVENUES).[11][12]"

In [82]:
sw.lower()

"the samsung group[3] (or simply samsung, stylized as sλmsung) (korean: 삼성 [samsʌŋ]) is a south korean multinational manufacturing conglomerate headquartered in samsung town, seoul, south korea.[1] it comprises numerous affiliated businesses,[1] most of them united under the samsung brand, and is the largest south korean chaebol (business conglomerate). as of 2020, samsung has the 8th highest global brand value.[4]\n\nsamsung was founded by lee byung-chul in 1938 as a trading company. over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. following lee's death in 1987, samsung was separated into five business groups – samsung group, shinsegae group, cj group and hansol group, and joongang group.\n\nnotable samsung industrial affiliates include samsung electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] samsung heavy industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and samsung engineering and samsung c&t corporation (respectively the world's 13th and 36th largest construction companies).[8] other notable subsidiaries include samsung life insurance (the world's 14th largest life insurance company),[9] samsung everland (operator of everland resort, the oldest theme park in south korea)[10] and cheil worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"

In [86]:
s = "sudhanshu kumar"

In [87]:
s.title()

'Sudhanshu Kumar'

In [88]:
s.capitalize()

'Sudhanshu kumar'

In [89]:
s = "Sudhanshu kuMAR"

In [90]:
s.swapcase()

'sUDHANSHU KUmar'

In [92]:
''.join(reversed(s))

'RAMuk uhsnahduS'

In [94]:
s[::-1]

'RAMuk uhsnahduS'

In [97]:
s = "    su    dh    "

In [98]:
s.strip()

'su    dh'

In [99]:
s

'    su    dh    '

In [100]:
s.lstrip()

'su    dh    '

In [101]:
s.rstrip()

'    su    dh'

In [103]:
"a" . join("sudhanshu")

'sauadahaaanasahau'

In [104]:
s

'    su    dh    '

In [105]:
s = "sudh"

In [107]:
s.center(20 , '#')

'########sudh########'

In [108]:
s = "Sudhanshu"

In [109]:
s.isupper()

False

In [110]:
s1 = "SUDH"

In [111]:
s1.isupper()

True

In [112]:
s.islower()

False

In [113]:
s2 = "sudh"

In [114]:
s2.islower()

True

In [115]:
s

'Sudhanshu'

In [116]:
s.isspace()

False

In [117]:
s4  = "   "

In [118]:
s4.isspace()

True

In [119]:
s

'Sudhanshu'

In [120]:
s.isdigit()

False

In [121]:
s5 = "32424"

In [122]:
s5.isdigit()

True

In [123]:
s6 = "sdf3454"

In [124]:
s6.isdigit()

False

In [125]:
s

'Sudhanshu'

In [126]:
s.isalnum()

True

In [127]:
s.isalpha()

True

In [128]:
s7 = "345345sgfdg"

In [129]:
s7.isalpha()

False

In [130]:
s

'Sudhanshu'

In [131]:
s.startswith('i')

False

In [132]:
s.startswith('s')

False

In [133]:
s.startswith("S")

True

In [134]:
s.endswith('n')

False

In [135]:
s.endswith('u')

True

In [136]:
s

'Sudhanshu'

In [137]:
s7

'345345sgfdg'

In [138]:
s

'Sudhanshu'

In [139]:
s.isdigit()

False

In [140]:
s.isnumeric()

False

In [145]:
s.startswith("")

True

In [146]:
s

'Sudhanshu'

In [147]:
s.isascii()

True

In [150]:
s = 'sudhanshu123   '

s.isalnum()

False

In [153]:
s =' 5 '
s.isspace()

False

In [157]:
s.center (20,'@')

'@@@@@@@@ 5 @@@@@@@@@'

In [156]:
s

' 5 '

In [162]:
s1 = '456'
s1.isalnum()

True

In [163]:
s="this is my very first programming class"

In [164]:
s.isspace()

False

In [167]:
s = " 6    "

In [168]:
s.isspace()

False

In [169]:
s = "453443"

In [170]:
s.isdigit()

True

In [171]:
s1 = "fasfdas345346346"

In [172]:
s1.isnumeric()

False

In [174]:
s2 = "345435 3455 3453"

In [175]:
s2.isnumeric()

False

In [176]:
s.isnumeric()

True

In [177]:
s2.isdigit()

False

In [178]:
s = 56

In [179]:
s= "sudh"

In [180]:
reversed(s)

In [181]:
'd'.join("ineuron")

'idndedudrdodn'

In [182]:
"".join(reversed("sudh"))

'hdus'

In [183]:
s= "453453.456"

In [184]:
s.isdigit()

False

In [185]:
s.isnumeric()

False

In [190]:
s = 'sudhanshu\tkumar\tineuron'

In [191]:
s.expandtabs()

'sudhanshu       kumar   ineuron'

In [193]:
s="Sudhanshu"

"".join(reversed(s))

'uhsnahduS'

In [194]:
s="hhe\tgge\thhe"
s.expandtabs()

'hhe     gge     hhe'

In [ ]:
s = "this is My First Python programming class and i am learNING python string and its function"
1 . Try to extract data from index one to index 300 with a jump of 3 
2. Try to reverse a string without using reverse function 
3. Try to split a string after conversion of entire string in uppercase 
4. try to convert the whole string into lower case 
5 . Try to capitalize the whole string 
6 . Write a diference between isalnum() and isalpha()
7. Try to give an example of expand tab
8 . Give an example of strip , lstrip and rstrip 
9.  Replace a string charecter by another charector by taking your own example 
"sudhanshu"
10 . Try  to give a defination of string center function with and exmple 
11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language
12 . Python is a interpreted of compiled language give a clear ans with your understanding 
13 . Try to write a usecase of python with your understanding .


you have to send a jupyter notebook to shivan@ineuron.ai before next saturday class 21st of may .

In [ ]:
https://codeshare.io/X8PY8Y

In [195]:
s = "sudhanshu"
s[-2:-7]

''

In [196]:
x = '\13'

In [197]:
x.isspace()

True

In [198]:
True

True

In [199]:
True -True

0

In [201]:
s= "Rambabu"

In [202]:
s[::-1]

'ubabmaR'

In [203]:
s[::+1]

'Rambabu'

In [208]:
s ="man's work"

In [209]:
s

"man's work"

In [211]:
sw

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.\n\nNotable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"

In [213]:
len(sw.splitlines())

5

In [214]:
s= "sudhanshu"
s.split('u')

['s', 'dhansh', '']

In [215]:
b = "ujjwal"

In [217]:
b.center(7, "#")

'#ujjwal'

In [218]:
s = 'ar\bt\yt'

In [219]:
s.expandtabs()

'ar\x08t\\yt'

In [220]:
s= "sudhanshu"
s[-2:]

'hu'

In [ ]:
"""The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"""

In [1]:
c = "iNeuron"
c[-7:0:-1]

''

In [223]:
s = "sudhanshu\tkumar"

In [224]:
s.expandtabs()

'sudhanshu       kumar'

In [225]:
"sudh" *3

'sudhsudhsudh'

In [226]:
sw

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.\n\nNotable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's 2nd largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"

In [228]:
s= sw.upper()

In [232]:
s.title()

"The Samsung Group[3] (Or Simply Samsung, Stylized As Sλmsung) (Korean: 삼성 [Samsʌŋ]) Is A South Korean Multinational Manufacturing Conglomerate Headquartered In Samsung Town, Seoul, South Korea.[1] It Comprises Numerous Affiliated Businesses,[1] Most Of Them United Under The Samsung Brand, And Is The Largest South Korean Chaebol (Business Conglomerate). As Of 2020, Samsung Has The 8Th Highest Global Brand Value.[4]\n\nSamsung Was Founded By Lee Byung-Chul In 1938 As A Trading Company. Over The Next Three Decades, The Group Diversified Into Areas Including Food Processing, Textiles, Insurance, Securities, And Retail. Samsung Entered The Electronics Industry In The Late 1960S And The Construction And Shipbuilding Industries In The Mid-1970S; These Areas Would Drive Its Subsequent Growth. Following Lee'S Death In 1987, Samsung Was Separated Into Five Business Groups – Samsung Group, Shinsegae Group, Cj Group And Hansol Group, And Joongang Group.\n\nNotable Samsung Industrial Affiliates Include Samsung Electronics (The World'S Largest Information Technology Company, Consumer Electronics Maker And Chipmaker Measured By 2017 Revenues),[5][6] Samsung Heavy Industries (The World'S 2Nd Largest Shipbuilder Measured By 2010 Revenues),[7] And Samsung Engineering And Samsung C&T Corporation (Respectively The World'S 13Th And 36Th Largest Construction Companies).[8] Other Notable Subsidiaries Include Samsung Life Insurance (The World'S 14Th Largest Life Insurance Company),[9] Samsung Everland (Operator Of Everland Resort, The Oldest Theme Park In South Korea)[10] And Cheil Worldwide (The World'S 15Th Largest Advertising Agency, As Measured By 2012 Revenues).[11][12]"

In [230]:
s.splitlines()

['THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]',
 '',
 "SAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP.",
 '',
 "NOTABLE SAMSUNG INDUSTRIAL AFFILIATES INCLUDE SAMSUNG ELECTRONICS (THE WORLD'S LARGEST INFORMATION TECHNOLOGY COMPANY, CONSUMER ELECTRONICS MAKER AND CHIPMAKER MEASURED BY 2017 REVENUES),[5][6] SAMSUNG HEAVY INDUSTRIES (THE WORLD'S 2ND LARGEST SHIPBUILDER MEASURED BY 2010 REVENUES),[7] AND SAMSUNG ENGINEERING AND SAMSUNG C&T CORPORATION (RESPECTIVELY THE WORLD'S 13TH AND 36TH LARGEST CONSTRUCTION COMPANIES).[8] OTHER NOTABLE SUBSIDIARIES INCLUDE SAMSUNG LIFE INSURANCE (THE WORLD'S 14TH LARGEST LIFE INSURANCE COMPANY),[9] SAMSUNG EVERLAND (OPERATOR OF EVERLAND RESORT, THE OLDEST THEME PARK IN SOUTH KOREA)[10] AND CHEIL WORLDWIDE (THE WORLD'S 15TH LARGEST ADVERTISING AGENCY, AS MEASURED BY 2012 REVENUES).[11][12]"]

In [234]:
s = "sudhanshu"
s[len(s):0:-1]

'uhsnahdu'

In [235]:
"".join("sudhanshu")

'sudhanshu'

In [245]:
s= "sudhanshu"
s= reversed(s)
"".join(s)

'uhsnahdus'

In [246]:
"".join(s)

''

In [247]:
"".join(s)

''

In [248]:
s

In [250]:
for i in s :
    print(i)

In [251]:
s = 'ineuron'

In [253]:
s[-1:]

'n'

In [254]:
s = "sudhanshu"
s[-12:-1:1]

'sudhansh'

In [255]:
s[-12:0:1]

''

In [261]:
s = "i\live\in\delhi"

In [262]:
s.split('\\')

['i', 'live', 'in', 'delhi']

In [264]:
s = "sudh"
s.isalpha()

True

In [265]:
s1 = "sudh3453"

In [266]:
s1.isalnum()

True