In [80]:
pola = 10

In [81]:
pola -2

8

In [82]:
type(pola)

int

In [83]:
True-False

1

In [84]:
True*4

4

In [85]:
n= 5+7j

In [86]:
type(n)

complex

In [87]:
n.imag

7.0

In [88]:
n.conjugate

In [89]:
type(n)

complex

In [90]:
list =[2,3,4,5]

In [91]:
type(list)

list

In [92]:
list[-1]

5

In [93]:
list.reverse

In [94]:
tuple = (2,3,4)

In [95]:
type(tuple)

tuple

In [96]:
dict = {"a":2,"b":2}

In [97]:
type(dict)

dict

In [98]:
pola*True

10

In [99]:
s = "ineurion"

In [100]:
s[0:5]

'ineur'

In [101]:
s2 = "This is my very first programming class's"

In [102]:
s2[6:30:2]

'sm eyfrtporm'

In [103]:
pallab = "sudhanshu kumar"

In [104]:
pallab[0:9:1]

'sudhanshu'

In [105]:
pallab[8:2:-1]

'uhsnah'

In [106]:
pallab[-2:]

'ar'

In [107]:
len(pallab)

15

In [108]:
pallab.count('s')

2

In [109]:
pallab.upper()

'SUDHANSHU KUMAR'

In [110]:
pola = pallab.upper()

In [111]:
pallab.capitalize()

'Sudhanshu kumar'

In [112]:
pallab.strip()

'sudhanshu kumar'

In [113]:
pallab.center(30,'#')

'#######sudhanshu kumar########'

In [114]:
s1= " pal lab "

In [115]:
s1.isspace()

False

In [116]:
s1.islower()

True

In [117]:
s5 ="23654"

In [118]:
s5.isdigit()

True

In [119]:
s5.isalpha()

False

In [120]:
pallab.startswith("")

True

In [121]:
p="2345678gg"

In [122]:
p.isdigit()

False

In [123]:
p.isnumeric()

False

In [124]:
p1 = "Hagumondal"

In [125]:
"".join(reversed(p1))

'ladnomugaH'

In [126]:
p2 ="pallab\thagu\thori"

In [127]:
p2.expandtabs()

'pallab  hagu    hori'

In [128]:
p3 = "this is My First Python programming class and i am learning python string and its function"

In [129]:
p3[:300:3]

'tssyityopgmncsa alrnph rgni ni'

In [130]:
p3[-1:-300:-1]

'noitcnuf sti dna gnirts nohtyp gninrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [131]:
p4 = p3.upper()
p4.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [132]:
p5=p3.lower()
p5.split()

['this',
 'is',
 'my',
 'first',
 'python',
 'programming',
 'class',
 'and',
 'i',
 'am',
 'learning',
 'python',
 'string',
 'and',
 'its',
 'function']

In [133]:
p3.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [134]:
p3.replace("this","That")

'That is My First Python programming class and i am learning python string and its function'

# 21.05.2022(List,Tuples,Dict,Set)

In [135]:
#List
l=[1,2,3,4,5 ,"Pola",45.67,True]

In [136]:
l[-1::-1]

[True, 45.67, 'Pola', 5, 4, 3, 2, 1]

In [137]:
len(l)

8

In [138]:
# is 60 is available in list (l)
60 in l

False

In [139]:
l2=["hagu","pola","hori","mota","bera"]
l2.sort(reverse=True)
l2

['pola', 'mota', 'hori', 'hagu', 'bera']

In [140]:
l.append([1,2,3,4])

In [141]:
l.pop(0)

1

In [142]:
l.reverse()

In [143]:
l[::-1]

[2, 3, 4, 5, 'Pola', 45.67, True, [1, 2, 3, 4]]

In [144]:
l.sort()

TypeError: '<' not supported between instances of 'bool' and 'list'

In [145]:
p1 = [2,3,4]
p2 = [6,7,8]
p3 = [3,2,4]

In [146]:
p4=[p1,p2,p3]

In [147]:
p4[2][1]

2

In [148]:
l.count(2)

1

In [149]:
l.extend("pola")

In [150]:
l

[[1, 2, 3, 4], True, 45.67, 'Pola', 5, 4, 3, 2, 'p', 'o', 'l', 'a']

In [151]:
l.index(2)

7

In [152]:
l7 =[1,2,3,4,55,6,6,7]

In [153]:
l7.index(6)

5

In [154]:
l9=[1,2,3,4,5]

In [155]:
l9.append([45,9,8])

In [156]:
l9

[1, 2, 3, 4, 5, [45, 9, 8]]

In [157]:
l9.insert(1,34)

In [158]:
l9.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [159]:
l9[4]="Pola"

In [160]:
l9

[1, 2, 3, 4, 'Pola', 34, [45, 9, 8]]

In [161]:
s="ineurion"

In [162]:
s[2]="E"
# list is mutuable but str is not

TypeError: 'str' object does not support item assignment

In [167]:
t=(4,5,6,7,"Pola",45.67,True)

In [168]:
type(t)

tuple

In [169]:
t[4]

'Pola'

In [170]:
t[0:4:-1]

()

In [171]:
t[2]=11
t #tuples immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
t1= (3,4,5,6)

In [ ]:
t+t1

In [ ]:
t.count("pola")

In [ ]:
t.index(7)

In [ ]:
t = (3,4,56,7, "pola")

In [ ]:
t2 = list(t)

In [ ]:
t3=str(t2)

In [ ]:
t3

In [ ]:
d2 ={"key1": "Value",234:"xyz","name":"pola"}

In [ ]:
d2={"name":"pola","tech": ["python","ml","Cv"]}

In [ ]:
d2

In [ ]:
d2["name"]="Pola"

In [ ]:
d2["k1"]=2345

In [ ]:
d2

In [ ]:
d2.keys()

In [ ]:
d2.items()

In [ ]:
s1 ={345,67,987,456,876}

In [ ]:
s1

In [ ]:
s2=list(s1)

#Questions 

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1 . Try to reverse a list 
2. try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list

In [ ]:
px = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [172]:
px1 = px[::-1]

In [173]:
px1

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [174]:
px1.pop(

SyntaxError: unexpected EOF while parsing (<ipython-input-174-5ea385656a09>, line 1)

# If else conditional

In [175]:
a=10
if a> 5:
    print("a is tha best as pola maity")
else :
        print("a is gandu")

a is tha best as pola maity

In [176]:
a=10
if a> 5:
      pass

In [177]:
a=11
if a != 12:
    print("Pola best")
else:
    print("pola gandu")

Pola best

In [178]:
a=13
if a==12:
    print("we are best")
elif a==13:
    print("check next")
else:
    print("tui chare de")

check next

In [179]:
price = 520
if price > 500:
    print("I am rich")
elif price >450:
    print("No you are not")
else:
    print("Tor Dara holo na")

I am rich

In [180]:
l=["pola","hagu","hori","mota","bera"]
"hori" in l

True

In [181]:
lt = [1,2,3,4,5,6]
2 in lt

True

In [182]:
if 10 in lt :
    print("thy to do a addition")
elif 2 in lt :
    print("try to do sub")
elif 3 in lt :
    print("try to do mul")
if 4 in lt :
    print("this is new statement")

try to do sub
this is new statement

In [2]:
b = int(input())

21

In [3]:
type(b)

int

In [5]:
c= int(input())
if c<500:
    print("I will be able to buy something")
elif c<400:
    print("I will be able to buy a Jacket")
elif c<300:
    print("I will be able to buy shirt")
else:
    print("I womt be able to buy anything")

390
I will be able to buy something

In [16]:
val = float (input("enter the floating point number "))
if  val >= 0:
    if  val == 0:
        print("entered value is zero")
    else:
        print("enter value is positive number")
else:
        print("Enter number is negetive number")

enter the floating point number 234
enter value is positive number

In [21]:
a = 10
if a == 10 and a ==10:
    print("try to do something")

try to do something

In [23]:
a="Pola"
if a=="Pola" or a=="pola":
    print("pola is best")

pola is best

In [24]:
a=10
b=11
c=12
d=13

if a == 10 and b==11 and c==12 and d==13:
    print("lets d0 something")

lets dp something

In [25]:
d ={'key1' : 'value',"key2":"Pola","key3":"inuron"}

In [29]:
if d ["key1"] =="value" and d["key2"] == "Pola":
    print("best")

best

In [37]:
l=[1,2,3,4,5,"pola",234.45]

In [40]:

for p in l:
    if type(p)==int or type(p)==float:
        print(p+1)
    elif type (p) ==str:
        print(p+str(1))

2
3
4
5
6
pola1
235.45

In [43]:
a=[1,2,3,4,5,6,7]
for i in a:
    print(i)

1
2
3
4
5
6
7